name: My First Job
on: [push]
jobs:
  my_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run a one-line script
        run: |
          echo "Hello, World!"
          ls -ltr
          cat README.md
